/* side-bar start */
.sidebar {
    width: 16vw;
    background: #fff;
    height: 100vh;
    border-right: 1px solid #eee;
    padding: 1rem;
    box-shadow: 4px 0 8px -2px rgba(0, 0, 0, 0.1);
    z-index: 1200;
}

.sidebar .logo-img {
    width: 70%;
    object-fit: contain;
}

.sidebar .container-img {
    height: 15%;

}

/* Sidebar base */


.sidebar .nav-link {
    position: relative;
    
    color: #6c757d;
    border-radius: 14px;
    transition: all 0.25s ease;
}

.sidebar .nav-pills .nav-link.active {
    /* vidrio */
    background: rgba(255, 255, 255, 0.65) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    color: #212529 !important;

    /* profundidad */
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.08),
        inset 0 1px 0 rgba(255, 255, 255, 0.6);

    border-radius: 16px;
}

.sidebar .nav-pills .nav-link.active::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 18%;
    width: 4px;
    height: 64%;
    background: #9350ba;
    border-radius: 4px;

    box-shadow:
        0 0 10px rgba(151, 47, 188, 0.7),
        0 0 20px rgba(77, 4, 82, 0.35);
}

/* .sidebar .nav-link:hover {
    background: rgba(147, 80, 186, 0.08);
    color: #9350ba;
    box-shadow:
        0 4px 12px rgba(147, 80, 186, 0.15),
        inset 0 1px 0 rgba(255, 255, 255, 0.4);
    transform: translateX(4px);
} */
/* .sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    color: #9350ba;
    box-shadow:
        0 6px 18px rgba(0, 0, 0, 0.08),
        inset 0 1px 0 rgba(255, 255, 255, 0.5);
    transform: translateX(3px);
} */
.sidebar .nav-link:hover {
    background: rgba(147, 80, 186, 0.12);
    color: #9350ba;
    transform: translateY(-2px);
    box-shadow:
        0 8px 20px rgba(147, 80, 186, 0.18),
        0 2px 4px rgba(0, 0, 0, 0.08);
}

/* enlinea start*/
.online{
    color: #6c757d;
    font-size: 14px;
}

/* enlinea end */

/* profile side-bar start*/
.profile-sidebar{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 5px;
    max-width: 100%;
    max-height: 500px;
    transition: all 0.3s ease;
}   
.profile-sidebar:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}


/* profile side-bar end */


/* side-bar end  */